body{font-family: arial;}

a.homepage:link, a.homepage:visited {
	color: white;
	background: #3A3A3A;
	padding: 2px 10px 2px 10px;
	border-radius: 3px;
	border: 1px outset #3A3A3A;
	font-weight: bold;
	text-decoration: none;
}

a.homepage:hover, a.homepage:focus, a.homepage:active {
	background-color: #666;
}